<div id="sigma-container" style="height: 400px;margin: auto;"></div>

<div class="jumbotron text-center">
  <h2>Nodi</h2>

  <hr>

  <table ng-table class="table">
    <tr ng-repeat="node in nodes" class="selectedRow">
      <td data-title="'Id Nodo'">
        {{ node._id }}
      </td>
      <td data-title="'Indirizzo'">
        {{ node.address }}
      </td>
      <td data-title="'Stato'">
        <div ng-if="node.connected">
          online
        </div>
        <div ng-if="!node.connected">
          offline
        </div>  
      </td>
      <td data-title="'Operazioni'" width="200">
      <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="setSelected(node._id)"><span class="fa fa-eye" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" ng-click="DeleteNode(node._id)"><span class="fa fa-trash-o" aria-hiden="true"></span></button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div id="insert" class="jumbotron">
  <div class="text-center">
    <h3>Aggiungi un nodo:</h3>
  </div>
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Id nodo</label>
    <input type="text" class="form-control" ng-model="formData._id" placeholder="Id Nodo">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Indirizzo</label>
    <input type="text" class="form-control" ng-model="formData.address" placeholder="indirizzo">
  </div>
  <button type="submit" class="btn btn-default" ng-click="createNode()">Inserisci</button>
</form>
  <hr>
</div>
