<div class="jumbotron text-center">
  <h2>Sensori del Nodo: {{ nodeID }}</h2>
  <hr>
  <table ng-table class="table">
    <tr ng-repeat="sensor in sensors" class="selectedRow">
      <td data-title="'ID'">
        {{ sensor._id }}
      </td>

      <td data-title="'Class'">
        {{ sensor.klass }}
      </td>
      </td>
      <td data-title="'Operazioni'" width="200">
        <button type="button" class="btn btn-default" ng-click="setSelected(sensor._id)"><span class="fa fa-eye" aria-hidden="true"></span></button>
      </td>
    </tr>
  </table>
</div>

<div class="jumbotron text-center">
  <h2>Rilevamenti del nodo: {{ nodeID }}</h2>
  <hr>
  <table ng-table class="table">
    <tr ng-repeat="measurement in measurements" class="selectedRow">
      <td data-title="'Timestamp'">
        {{ measurement.timestamp }}
      </td>

      <td data-title="'Value'">
        {{ measurement.value }}
      </td>
    </tr>
  </table>
</div>
