<div class="jumbotron text-center">
  <h2>Nodes</h2>

  <hr>

  <table ng-table class="table">
    <tr ng-repeat="node in nodes">
      <td data-title="'ID'">
        {{ node.ID }}
      </td>
      <td data-title="'Address'">
        {{ node.address }}
      </td>
      <td data-title="'Connected'">
        {{ node.connected }}
      </td>
    </tr>
  </table>
</div>

<div class="jumbotron">
  <div class="text-center">
    <h3>Aggiungi un nodo:</h3>
  </div>

  <hr>

  <input type="text" value="ID" id="ID" />
</div>
