<div class="jumbotron text-center">
  <h2>Sensor</h2>

  <hr>

  <table ng-table class="table">
    <tr ng-repeat="measurement in measurements">
      <td data-title="'Timestamp'">
        {{ measurement.timestamp }}
      </td>
      <td data-title="'Value'">
        {{ measurement.value }}
      </td>
    </tr>
  </table>

  <hr>
  <button ng-click="launchMeasurement()">Launch measurement</button>
    <p class="text-center" ng-show="loading"><span class="fa fa-cog fa-spin fa-2x"></span></p>
</div>

<div class="jumbotron">
  <div class="text-center">
    <h3>Configurazione</h3>
  </div>

  <hr>

  Aggiungere qui il form per la configurazione
</div>
